.sidebar_wrapper {
  box-sizing: border-box;
  height: 100%;
  width: 250px;
  padding: 50px 0;
  background-color: bisque;
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 15px;
  list-style: none;
}
